.following-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: calc(100vh - 391px);
  overflow: auto;
  margin-right: -54px;
  margin-left: -54px;
  margin-bottom: -30px;

  .user-wrapper {
    width: 400px;
    background: #151616;
    color: #B1BBBB;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
    position: relative;

    .user {
      display: flex;
      margin-bottom: 20px;

      .profile-image {
        width: 120px;
        height: 120px;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
      }

      .name-wrapper {
        margin-top: 20px;

        .name {
          font-family: 'Gothic', serif;
          font-weight: 600;
          font-size: 17px;
          margin-bottom: 14px;
        }

        .followed-by {
          font-size: 15px;
          font-family: 'GOTHIC', serif;
        }
      }
    }

    .last-disliked-movie {
      margin-bottom: 25px;
    }
    .more-details {
      font-family: 'Gothic', serif;
      text-decoration: underline;
      text-align: right;
      margin-top: 10px;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      right: 15px;
    }
  }
}