.ratings-tab {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 409px);
  overflow: auto;
  justify-content: center;
  margin-right: -54px;
  margin-left: -54px;
  margin-bottom: -30px;

  .item {
    background: #1C1C1C;
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 25px;

    .image {
      width: 100px;
      height: 100px;
      background-position: center;
      background-size: cover;
      border-radius: 15px;
      margin-right: 15px;
      cursor: pointer;
    }

    .details-wrapper {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;

      .name {
        color: #B1BBBB;
        font-size: 20px;
        font-family: Gothic, serif;
        margin-bottom: 5px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .rating {
      color: #B1BBBB;
      font-size: 16px;
      font-family: Gothic, serif;
    }

  }
}

.genders {
  margin-top: 15px;
  display: flex;

  span {
    color: white;
    padding: 6px 12px;
    border-radius: 12px;
    text-transform: lowercase;
    font-size: 11px;
    margin-right: 10px;
    font-family: 'Gothic', serif;

    &.drama {
      background: #0022FE;
    }

    &.romance {
      background: #D11E5B;
    }

    &.sport {
      background: green;
    }

    &.adventure {
      background: #c58f2c;
    }

    &.western {
      background: #7c2b2b;
    }

    &.comedy {
      background: #ffff0099;
    }

    &.musical {
      background: #c10202;
    }

    &.sci-fi {
      background: blueviolet;
    }

    &.thriller {
      background: gray;
    }

    &.war {
      background: black;
    }

    &.crime {
      background: darkslategray;
    }

    &.crime {
      background: cornflowerblue;
    }

    &.mystery {
      background: darkslateblue;
    }
  }
}