.login-container {
  background-color: #232323;
  width: 100%;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/background_login.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
