
.movie-modal {
  background-color: #000000;
  opacity: 0.98;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 45vw;
  border: 2px solid #030101;
  border-radius: 25px;
  position: relative;

  .close-modal {
    color: white;
    position: absolute;
    right: 0;
    padding: 15px;
    cursor: pointer;
  }

  .movie-modal-content {

    display: flex;
    width: 100%;
    height: 100%;

    .movie-poster {
      height: calc(100% - 30px);
      background-size: cover;
      border-radius: 25px;
      margin: 15px;
      background-position: center;
    }

    .movie-details {
      font-family: Gothic, serif;
      color: white;
      margin-top: 6vh;
      margin-right: 15px;
      width: 60%;

      .comments {
        height: calc(100% - 100px);
      }

      .movie-details-title {
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .movie-details-content {
        font-size: 18px;
        margin-top: 20px;
      }

      .movie-plot {
        margin-top: 20px;
      }

      .movie-rating {
        margin-top: 20px;

        .give-rating {
          margin-right: 15px;
        }
      }

      .movie-show-comments {
        margin-top: 20px;
        cursor: pointer;
        text-decoration: underline;
        width: fit-content;
      }

      .commentsList {
        height: calc(100% - 40px);
        overflow: auto;
        margin-bottom: 2px;

        .comment-item {
          display: flex;
          margin-bottom: 10px;

          .user-image {
            width: 50px;
            height: 50px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            margin-right: 10px;
          }

          .comment,
          .user-name {
            font-size: 15px;
            font-family: 'Gothic', serif;
            color: white;
            margin-bottom: 5px;
          }

          .comment-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
          }
        }
      }

      .input-wrapper {
        margin: 0;

        .input {
          margin: 0;
          width: 100%;
        }

        input {
          padding-left: 10px;
          font-size: 20px;
        }
      }
    }

    .movie-starts {
      margin-top: 20px;
      display: flex;
    }
  }

  &:focus-visible {
    outline: none;
  }
}

.MuiRating-icon {
  color: white !important;
}

.MuiRating-iconFilled {
  color: #e7b927 !important;
}