.menu-wrapper {
  width: 300px;
  height: 100vh;
  background: #232929;
  position: relative;

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    flex-direction: column;
    margin-bottom: 40px;

    .profile-image {
      background: url('../../../src/assets/images/jimmy.jpg');
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin-bottom: 15px;
    }

    .name {
      color: #B1BBBB;
      font-size: 25px;
      font-family: Gothic, serif;
    }

    .username {
      color: #889292;
      font-size: 23px;
      font-family: Gothic, serif;
    }
  }

  .followers {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #707070;
    padding-bottom: 20px;
    margin: 0 20px 40px;

    .section {
      display: flex;
      align-items: center;

      &:first-child {
        border-right: 1px solid #b1bbbb;
        padding-right: 15px;
      }

      &:last-child {
        padding-left: 15px;
      }

      .follow {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .MuiSvgIcon-root {
        margin-right: 10px;
        font-size: 30px;
      }
    }
  }

  .color-gray {
    color: #b1bbbb;
    font-size: 20px;
  }

  .menu {
    .item {
      color: #B1BBBB;
      display: flex;
      font-size: 25px;
      align-items: center;
      margin-left: 20px;
      cursor: pointer;
      margin-bottom: 20px;
      font-family: Gothic, serif;
      text-decoration: none;

      .MuiSvgIcon-root {
        margin-right: 10px;
      }

      &:hover, &.active {
        color: #EDBD28;
      }

    }
  }

  .button-wrapper {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      font-size: 25px;
      font-family: Gothic, serif;
      background: #707070;
      width: fit-content;
      padding: 10px 30px;
      color: #232323;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}
