.movies-container {
  display: flex;

  .movies-wrapper {
    width: 100%;
    background-color: #232323;

    .header {

      position: relative;

      .filter-buttons {
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 30px;

        .button {
          font-size: 20px;
          font-family: Gothic, serif;
          border-radius: 25px;
          background-color: #3F3F3F;
          padding: 5px 10px 5px 10px;
          color: #B1BBBB;
          border: 1px solid #707070;
          margin: 5px;
        }
      }
    }
  }
}
