.movies-container {
  display: flex;

  .movies-wrapper {
    width: 100%;
    background-color: #232323;

    .header {

      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .autocomplete-wrapper {
        margin-left: 30px;
      }

      .filter-buttons {
        margin-right: 30px;

        .button {
          font-size: 20px;
          font-family: Gothic, serif;
          border-radius: 25px;
          background-color: #3F3F3F;
          padding: 5px 10px 5px 10px;
          color: #B1BBBB;
          border: 1px solid #707070;
          margin: 5px;
          display: inline-flex;
          align-items: center;
        }
      }
    }

    .body {

      .movie-details {
        background-color: lightgrey;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }

      .List {
        height: calc(100vh - 93px);
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;

        .row-item {
          height: 250px;
          padding: 20px;
          margin-bottom: 20px;
          cursor: pointer;

          &:hover {
            .title-wrapper {
              background: #edbd28;
              .title {
                color: black;
              }
            }
          }

          .movie-image {
            width: 170px;
            height: 100%;
            background-size: cover;
          }

          .title {
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: "Gothic", serif;
            font-size: 15px;
            justify-content: start;
            color: #B1BBBB;
            width: -moz-fit-content;
            text-align: center;
            max-width: 170px;
            width: 100%;
          }
        }

        .infinite-scroll-component__outerdiv {
          height: calc(100vh - 93px);
        }

        .infinite-scroll-component {
          overflow: hidden !important;
        }
      }
    }
  }
}
