.friends-container {
  display: flex;
  background-color: #232323;

  .friends-wrapper {
    width: 100%;

    .friends-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: calc(100vh - 93px);
      overflow: auto;

      .item {
        width: 400px;
        background: #151616;
        color: #B1BBBB;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 30px;
        display: flex;
        margin-left: 15px;
        margin-right: 15px;

        .profile-image {
          width: 100px;
          height: 100px;
          background-position: center;
          background-size: cover;
          border-radius: 15px;
          margin-right: 15px;
        }

        .details-wrapper {
          display: flex;
          justify-content: space-between;
          flex: 1;

          .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .name {
              font-size: 20px;
              font-family: Gothic, serif;
              margin-bottom: 5px;
            }
          }

          .close-btn {
            display: flex;
            align-items: center;

            &:hover {
              color: #edbd28;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
