.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Broadway";
  src: local("Broadway"),
  url("../public/fonts/Broadway-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Gothic";
  src: local("Gothic"),
  url("../public/fonts/Gothic.TTF") format("truetype");
  font-weight: normal;
}

.ratings-tab::-webkit-scrollbar,
.following-tab::-webkit-scrollbar,
.commentsList::-webkit-scrollbar,
.List::-webkit-scrollbar {
  width: 7px;
}

.ratings-tab::-webkit-scrollbar-track,
.following-tab::-webkit-scrollbar-track,
.commentsList::-webkit-scrollbar-track,
.List::-webkit-scrollbar-track {
  background: #707070;
  border-radius: 6px;
}

.ratings-tab::-webkit-scrollbar-thumb,
.following-tab::-webkit-scrollbar-thumb,
.commentsList::-webkit-scrollbar-thumb,
.List::-webkit-scrollbar-thumb {
  background-color: #EDBD28;
  border-radius: 8px;
  outline: none;
}