.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Broadway";
  src: local("Broadway"),
  url("../public/fonts/Broadway-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Gothic";
  src: local("Gothic"),
  url("../public/fonts/Gothic.TTF") format("truetype");
  font-weight: normal;
}

.movie-plot::-webkit-scrollbar,
.ratings-tab::-webkit-scrollbar,
.following-tab::-webkit-scrollbar,
.commentsList::-webkit-scrollbar,
.List::-webkit-scrollbar {
  width: 7px;
}

.movie-plot::-webkit-scrollbar-track,
.ratings-tab::-webkit-scrollbar-track,
.following-tab::-webkit-scrollbar-track,
.commentsList::-webkit-scrollbar-track,
.List::-webkit-scrollbar-track {
  background: #707070;
  border-radius: 6px;
}

.movie-plot::-webkit-scrollbar-thumb,
.ratings-tab::-webkit-scrollbar-thumb,
.following-tab::-webkit-scrollbar-thumb,
.commentsList::-webkit-scrollbar-thumb,
.List::-webkit-scrollbar-thumb {
  background-color: #EDBD28;
  border-radius: 8px;
  outline: none;
}

.fake-loader {
  width: calc(100% - 300px);
  background: #232323;
  height: calc(100% - 92px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-top: -60px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}