.profile-tabs-wrapper {
  .MuiTabs-scroller {
    .MuiTabs-flexContainer {
      .MuiButtonBase-root {
        width: 25%;
        max-width: 25%;
        color: #b1bbad;
      }
      .Mui-selected {
        color: #edbd28;
      }
    }

    .MuiTabs-indicator {
      background-color: #edbd28;
    }
  }

}